@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tceqpq');
  src:  url('../fonts/icomoon.eot?tceqpq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tceqpq') format('truetype'),
    url('../fonts/icomoon.woff?tceqpq') format('woff'),
    url('../fonts/icomoon.svg?tceqpq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baseline-attach_file-24px:before {
  content: "\e923";
}
.icon-baseline-attachment-24px:before {
  content: "\e924";
}
.icon-baseline-blur_on-24px:before {
  content: "\e925";
}
.icon-baseline-brightness_1-24px:before {
  content: "\e926";
}
.icon-baseline-broken_image-24px:before {
  content: "\e927";
}
.icon-baseline-cached-24px1:before {
  content: "\e928";
}
.icon-baseline-calendar_today-24px:before {
  content: "\e929";
}
.icon-baseline-card_travel-24px:before {
  content: "\e92a";
}
.icon-baseline-details-24px:before {
  content: "\e92b";
}
.icon-baseline-flag-24px:before {
  content: "\e92c";
}
.icon-baseline-folder_open-24px:before {
  content: "\e92d";
}
.icon-baseline-folder-24px:before {
  content: "\e92e";
}
.icon-baseline-image-24px:before {
  content: "\e92f";
}
.icon-baseline-insert_link-24px:before {
  content: "\e930";
}
.icon-baseline-keyboard_arrow_down-24px:before {
  content: "\e931";
}
.icon-baseline-keyboard_arrow_left-24px1:before {
  content: "\e932";
}
.icon-baseline-keyboard_arrow_right-24px1:before {
  content: "\e933";
}
.icon-baseline-keyboard_arrow_up-24px:before {
  content: "\e934";
}
.icon-baseline-keyboard_backspace-24px1:before {
  content: "\e935";
}
.icon-baseline-label-24px:before {
  content: "\e936";
}
.icon-baseline-list_alt-24px:before {
  content: "\e937";
}
.icon-baseline-loyalty-24px:before {
  content: "\e938";
}
.icon-baseline-mail_outline-24px:before {
  content: "\e939";
}
.icon-baseline-navigate_before-24px:before {
  content: "\e93a";
}
.icon-baseline-navigate_next-24px:before {
  content: "\e93b";
}
.icon-baseline-notes-24px:before {
  content: "\e93c";
}
.icon-baseline-opacity-24px:before {
  content: "\e93d";
}
.icon-baseline-query_builder-24px:before {
  content: "\e93e";
}
.icon-baseline-search-24px1:before {
  content: "\e93f";
}
.icon-baseline-settings-20px:before {
  content: "\e940";
}
.icon-baseline-shopping_basket-24px:before {
  content: "\e941";
}
.icon-baseline-style-24px:before {
  content: "\e942";
}
.icon-baseline-tab-24px:before {
  content: "\e943";
}
.icon-baseline-today-24px:before {
  content: "\e944";
}
.icon-baseline-tune-24px:before {
  content: "\e945";
}
.icon-baseline-turned_in_not-24px:before {
  content: "\e946";
}
.icon-baseline-vertical_align_top-24px:before {
  content: "\e947";
}
.icon-baseline-work_outline-24px:before {
  content: "\e948";
}
.icon-baseline-work-24px:before {
  content: "\e949";
}
.icon-baseline-add-24px:before {
  content: "\e900";
}
.icon-baseline-album-24px:before {
  content: "\e901";
}
.icon-baseline-cached-24px:before {
  content: "\e902";
}
.icon-baseline-clear-24px:before {
  content: "\e903";
}
.icon-baseline-favorite_border-24px:before {
  content: "\e904";
}
.icon-baseline-favorite-24px:before {
  content: "\e905";
}
.icon-baseline-info-24px:before {
  content: "\e906";
}
.icon-baseline-keyboard_arrow_left-24px:before {
  content: "\e907";
}
.icon-baseline-keyboard_arrow_right-24px:before {
  content: "\e908";
}
.icon-baseline-keyboard_backspace-24px:before {
  content: "\e909";
}
.icon-baseline-list-24px:before {
  content: "\e90a";
}
.icon-baseline-loop-24px:before {
  content: "\e90b";
}
.icon-baseline-pause_circle_outline-24px-1:before {
  content: "\e90c";
}
.icon-baseline-pause_circle_outline-24px:before {
  content: "\e90d";
}
.icon-baseline-pause-24px:before {
  content: "\e90e";
}
.icon-baseline-play_arrow-24px:before {
  content: "\e90f";
}
.icon-baseline-play_circle_outline-24px:before {
  content: "\e910";
}
.icon-baseline-queue_music-24px:before {
  content: "\e911";
}
.icon-baseline-reorder-24px:before {
  content: "\e912";
}
.icon-baseline-repeat_one-24px:before {
  content: "\e913";
}
.icon-baseline-repeat-24px:before {
  content: "\e914";
}
.icon-baseline-replay-24px:before {
  content: "\e915";
}
.icon-baseline-search-24px:before {
  content: "\e916";
}
.icon-baseline-share-24px:before {
  content: "\e917";
}
.icon-baseline-shuffle-24px:before {
  content: "\e918";
}
.icon-baseline-skip_next-24px:before {
  content: "\e919";
}
.icon-baseline-skip_previous-24px:before {
  content: "\e91a";
}
.icon-baseline-slow_motion_video-24px:before {
  content: "\e91b";
}
.icon-baseline-star_rate-18px:before {
  content: "\e91c";
}
.icon-baseline-subject-24px:before {
  content: "\e91d";
}
.icon-baseline-subtitles-24px:before {
  content: "\e91e";
}
.icon-baseline-volume_down-24px:before {
  content: "\e91f";
}
.icon-baseline-volume_mute-24px:before {
  content: "\e920";
}
.icon-baseline-volume_off-24px:before {
  content: "\e921";
}
.icon-baseline-volume_up-24px:before {
  content: "\e922";
}
